@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #19a2ae;
}

main::after {
  content: "";
  width: 50%;
  height: 50%;
  background-image: url(../img/bg-pattern-top.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

main::before {
  content: "";
  width: 50%;
  height: 50%;
  background-image: url(../img/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

main .container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 1;
  -webkit-box-shadow: 0 10px 40px -10px #2d3248;
  box-shadow: 0 10px 40px -10px #2d3248;
}

@media screen and (max-width: 375px) {
  main .container .card {
    margin: 0 10px;
  }
}

main .container .card::after {
  content: "";
  background-image: url(" ../img/bg-pattern-card.svg ");
  background-repeat: no-repeat;
  width: 350px;
  height: 140px;
  position: absolute;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

@media screen and (max-width: 375px) {
  main .container .card::after {
    display: none;
  }
}

main .container .card__img {
  margin: 90px auto 0;
  z-index: 3;
  border: 5px solid #ffffff;
  border-radius: 100%;
}

@media screen and (max-width: 375px) {
  main .container .card__img {
    margin: 20px auto 0;
  }
}

main .container .card__img img {
  border-radius: 100%;
}

main .container .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

main .container .card__content h1 {
  font-weight: 700;
  color: #2d3248;
  margin-bottom: 10px;
}

main .container .card__content h1 span {
  color: #6a6f81;
  font-weight: 500;
}

main .container .card__content p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #6a6f81;
}

main .container .card__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid rgba(150, 150, 150, 0.26);
}

main .container .card__features .feature-group h1 {
  font-weight: 700;
}

main .container .card__features .feature-group p {
  margin-top: 10px;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  color: #6a6f81;
}

footer {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #ffffff;
}
