// Colors
// ### Primary
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
// ### Neutral
$dark-gray: rgb(150, 150, 150);
$dark-gray-line: rgba(150, 150, 150, 0.26);
$white: #ffffff;
